.ce-filtro {
    .footer {
        text-align: center;
    }

    p-header span.fa{
        color: $brand-primary;
    }
}
.ce-listado {  
     
    .footer{
        text-align: center;                   
    }
}
